### variables

In [ ]:
one = 1
two = 2

two, one = 1, 2     # chenge variables
print('one:', one, 'two:', two) # one: 2 two: 1

one, two = two, one     # chenge variables
print('one:', one, 'two:', two)     # one: 1 two: 2

In [1]:
 # - a comentary line
print("No comments here #")  # '#' - not a comment

No comments here #

In [ ]:
s = 'Hello world!!!'
print(s)
print(f'str * 3: {s * 3}') #'f' before the ' and function in {} - Create function into the str

Hello world!!!
str * 3: Hello world!!!Hello world!!!Hello world!!!

In [9]:
x = 15 / 4  # assign the name "x" to the expression "5/4" (3.75)
y = x  # assign the name "y" to the expression "x"
print(x, y)

3.75 3.75

In [10]:
y == x  # are two names equal? The result is "True" or "False"
x is y  # Is "x" "y"? The result is "True" or "False"
y >= 3  # Comparison "y" is greater than or equal to "3"? The result is "True" or "False"

True

In [15]:
x = 15 / 4
print(type(x))  # What is the type of 'y'. Now it is class 'float' (3.75).
print(x)
print('Change type x to class int')
x = int(x)  # Change type 'x' to class 'int'
print(x, type(x))  # (3)

<class 'float'>
3.75
Change type x to class int
3 <class 'int'>

In [20]:
s = '12345.99'
x = float(s)  # If str is float, it will Not correct to change str to 'int'
print(x)  # (12345.99)

y = int(x)
print(y)  # (12345) - without everything after the '.' (Not round)

a = round(12345.99)
print(a)  # (12346)

12345.99
12345
12346

## input()

In [ ]:
input() - # wait for user input before closing the program

In [ ]:
# enter any value, number or text
input("Введіть значення змінної:") # message to user to enter variable
# '10' - string type

In [ ]:
# enter just a whole number (integer), no decimal points, may be positive or negative, no text.
int(input('Введіть ціле число:'))
# 10 - integer type

In [ ]:
float(input('Введіть число з плаваючою крапкою:'))  # enter a number with decimal point
# 10.5 - float type

In [ ]:
print(1, 2, 3, 4, 5) # print multiple values separated by space
print(1, 2, 3, 4, 5, sep=',') # print multiple values separated by ','
print(1, 2, 3, 4, 5, sep='; ', end='!') # print multiple values separated by '; ' and end with '!'

1 2 3 4 5
1,2,3,4,5
1; 2; 3; 4; 5!

In [ ]:
var_int = 10  # integer type
var_float = 10.5  # float type
var_str = "Hello, World!"  # string type

## Practic
1. Змінній  var_int  надайте значення 10, var_float  –  значення 8.4, 
var_str – "No". 
2. Змініть значення, збережене в змінній var_int, збільшивши його 
в 3.5 рази, результат зв’яжіть зі змінною big_int. 
3. Змініть значення, збережене в зміній var_float, зменшивши його 
на одиницю, результат зв’яжіть з тієї ж змінною. 
4. Змініть  значення  змінної  var_str  на  "NoNoYesYesYes".  При 
формуванні  нового  значення  використовуйте  операції 
конкатенації (+) і повторення рядка (*)

In [4]:
var_int = 10
var_float = 8.4
var_str = "No"

var_int *= 3.5
big_int = var_int
var_float -= 1
var_str += var_str + "Yes" * 3
print(var_int)
print(big_int)
print(var_float)
print(var_str)

35.0
35.0
7.4
NoNoYesYesYes