## Creating list

In [1]:
empty_list = [] # Creating an empty list
print(f'Empty list: {empty_list}, Type: {type(empty_list)}')

another_empty_list = list() # Creating an empty list using list() constructor
print(f'Another empty list: {another_empty_list}, Type: {type(another_empty_list)}')

Empty list: [], Type: <class 'list'>
Another empty list: [], Type: <class 'list'>

In [2]:
cat_list = list('cat')  # Creating a list from a string
print(f'List from string "cat": {cat_list}, Type: {type(cat_list)}')

List from string "cat": ['c', 'a', 't'], Type: <class 'list'>

In [3]:
    ### Creating a list and checking its type ###
A = [2, 4, 6, 8, 10]
print(type(A))
print(A)

<class 'list'>
[2, 4, 6, 8, 10]

#### range()

In [8]:
number_list = []
for number in range(1, 6):      # 1 2 3 4 5
    number_list.append(number)
print(number_list)

[1, 2, 3, 4, 5]

In [ ]:
A = list(range(1, 6, 1))  # create list (start-including, stop - NOT including, step)
print(f'A: {A}  Type of A: {type(A)}')

B = list(range(5, 0, -1)) # create list (start, stop, step)
print(f'B: {B}  Type of B: {type(B)}')

A: [1, 2, 3, 4, 5]  Type of A: <class 'list'>
B: [5, 4, 3, 2, 1]  Type of B: <class 'list'>

### for + range()

In [9]:
number_list = [number for number in range(1, 5)]
print(number_list)

[1, 2, 3, 4]

In [13]:
number_list = [number - 1 for number in range(1, 5)]
print(number_list)

number_list = [number * 2 for number in range(1, 5)]
print(number_list)

[0, 1, 2, 3]
[2, 4, 6, 8]

### for + range() + if

In [1]:
number_list = [number for number in range(1, 6) if number % 2 == 1]
print(number_list)

[1, 3, 5]

### input()

In [3]:
number_list = [int(input('введіть число: ')) for number in range(int(input('введіть кількість елементів: ')))] 
print (number_list)

[3, 4]

In [44]:
A = [0] * 5 # Create a list with five zeros
print(A)

[0, 0, 0, 0, 0]

In [6]:
# if S = list
S = ['Moscow',
     'Dolgoprudny',
     'Piter']
S.append('Rostov') # to add in end / if you wont to find '', must to read all list
print(S) # ['Moscow', 'Dolgoprudny', 'Piter', 'Rostov']

['Moscow', 'Dolgoprudny', 'Piter', 'Rostov']

### SET is other than list

In [7]:
# if S = set ??????????
S = {'Moscow',
     'Dolgoprudny',
     'Piter'}
S.add('Odessa') # put NOT to end
print(S) # {'Odessa', 'Dolgoprudny', 'Moscow', 'Piter'}
if 'Odessa' in S:
    print('Yes') # Yes - not need to read all set - find
print(type(S))

for el in S:
    print(el) # print all set:

{'Dolgoprudny', 'Odessa', 'Moscow', 'Piter'}
Yes
<class 'set'>
Dolgoprudny
Odessa
Moscow
Piter

## Сopying of list

### $$"="$$

In [45]:
        ### '=' ###
    ### Equation of lists - modifying one list affects the other ###
A = [1, 2, 3, 4, 5]
B = A
A[0] = 1000 # modifying list A (first element)
print(f'List A after modification A: {A}')
print(f'List B after modification A: {B}') # List B also reflects the change in A

B[0] = 2 # modifying list B (first element)
print(f'List A after modification B: {A}') # List A also reflects the change in B
print(f'List B after modification B: {B}')
print(f'A is B? - {A is B}')  # --- IGNORE ---

List A after modification A: [1000, 2, 3, 4, 5]
List B after modification A: [1000, 2, 3, 4, 5]
List A after modification B: [2, 2, 3, 4, 5]
List B after modification B: [2, 2, 3, 4, 5]
A is B? - True

### $$"copy()"$$

In [9]:
        ### '.copy()' ###
    ### Creating a copy of a list - modifying one list does not affect the other ###
A = [1, 2, 3, 4, 5]
B = A
C = A.copy()
print(f'list C: {C}')
print(f'list A: {A}')
print(f'A is C? - {A is C}')
print(f'A == C? - {A == C}')  # --- IGNORE ---

list C: [1, 2, 3, 4, 5]
list A: [1, 2, 3, 4, 5]
A is C? - False
A == C? - True

In [10]:
print(f'A[1] befor change: {A[1]}')
A[1] = 300 # change second element of list A
print(f'After modification A[1], A: {A}')
print(f'After modification A[1], C: {C} - NOT changed')
print(f'After modification A[1], B: {B}')
B

A[1] befor change: 2
After modification A[1], A: [1, 300, 3, 4, 5]
After modification A[1], C: [1, 2, 3, 4, 5] - NOT changed
After modification A[1], B: [1, 300, 3, 4, 5]

[1, 300, 3, 4, 5]

In [11]:
id(A), id(B), id(C)
print(f'id(A): {id(A)} == id(B): {id(B)} != id(C): {id(C)}')

id(A): 2424427171072 == id(B): 2424427171072 != id(C): 2424427178048

## element reference

In [2]:
    ### unpacking the list ###
A = [2, 4, 6, 8, 10]
for x in A:
    print(x)

2
4
6
8
10

In [13]:
print(f'List A: {A}')
len(A)

List A: [2, 4, 6, 8, 10]

5

In [ ]:
    ### the first and last element of the list ###
print(f'First element of A: {A[0]}')
print(f'Last element of A: {A[-1]}')

First element of A: 2
Last element of A: 10

In [3]:
print(A[0:2])   # elements from first to second
print(A[::2])   # Each odd element (1, 3, 5)
print(A[::-2])  # 
print(A[::-1])  # reversed show of list

[2, 4]
[2, 6, 10]
[10, 6, 2]
[10, 8, 6, 4, 2]

In [16]:
print(f'Elements of A in reverse order: {A[-1]}, {A[-2]}, {A[-3]}, {A[-4]}, {A[-5]}')
print(A[-1], A[-2], A[-3], A[-4], A[-5])
A.reverse()
print(f'Reversed List A by function: {A}')
A[-5] == A[0]

Elements of A in reverse order: 10, 8, 6, 4, 2
10 8 6 4 2
Reversed List A by function: [10, 8, 6, 4, 2]

True

In [17]:
A = [1, 2, 3, 4, 5]

In [18]:
B = list(range(5, 0, -1)) # create list (start, stop, step)
B

[5, 4, 3, 2, 1]

In [19]:
"asdf" + "qwer"

'asdfqwer'

In [20]:
A + B

[1, 2, 3, 4, 5, 5, 4, 3, 2, 1]

In [21]:
A * 2

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [22]:
(A * 2) == A + A

True

In [23]:
A = [0] * 5 # Create a list with five zeros
A

[0, 0, 0, 0, 0]

In [24]:
len(A)

5

In [25]:
for i in range(len(A)):
    A[i] = i ** 2 # assign square of index to each element
print(A)

[0, 1, 4, 9, 16]

In [5]:
B = [3, 2, 1]
B

[3, 2, 1]

In [6]:
B.append(4) # add element 4 to the end of the list
B.append(5)
B.append(6)
B

[3, 2, 1, 4, 5, 6]

In [52]:
B.insert(0, 10) # in zero-th position, insert (add) 10 - all other elements are shifted to the right
B

[10, 3, 2, 1, 4]

In [53]:
B.append(B) # append the list to itself (as a single element)
B

[10, 3, 2, 1, 4, [...]]

In [54]:
A += B # A = A + B
print(A)

[2, 2, 3, 4, 5, [...], 4, 10, 3, 2, 1, 4, [10, 3, 2, 1, 4, [...]]]

In [55]:
A.extend(B) # A + B
A

[2,
 2,
 3,
 4,
 5,
 [...],
 4,
 10,
 3,
 2,
 1,
 4,
 [10, 3, 2, 1, 4, [...]],
 10,
 3,
 2,
 1,
 4,
 [10, 3, 2, 1, 4, [...]]]

In [56]:
del A[-1] # delete last element
print(A)
A.remove(10)   # delete element '10'
print(A)

[2, 2, 3, 4, 5, [...], 4, 10, 3, 2, 1, 4, [10, 3, 2, 1, 4, [...]], 10, 3, 2, 1, 4]
[2, 2, 3, 4, 5, [...], 4, 3, 2, 1, 4, [10, 3, 2, 1, 4, [...]], 10, 3, 2, 1, 4]

In [57]:
str_list = list('asdfjkl')
print(str_list)

print(str_list.pop())   # causes and delete last element
print(str_list.pop(0))  # causes and delete first element
print(str_list)
print("d in list: ", 'd' in str_list) # True
str_list.append("a"*3)  #  to add 'a'*3 -> aaa
print("added 'aaa' to list:", str_list)
print(str_list.count('a'))  # how many times a value 'a' occurs
print("how many times a value 'f' occurs:", str_list.count('f'))  # how many times a value 'f' occurs

['a', 's', 'd', 'f', 'j', 'k', 'l']
l
a
['s', 'd', 'f', 'j', 'k']
d in list:  True
added 'aaa' to list: ['s', 'd', 'f', 'j', 'k', 'aaa']
0
how many times a value 'f' occurs: 1

In [58]:
int_list = [8, 3, 1, 9, 2, 10]
print(int_list)

print('after .sort:', sorted(int_list)) # created copy of list - don't change it
print(int_list)
int_list.sort()
print('.sorted():', int_list)   # chenge a list by sort

[8, 3, 1, 9, 2, 10]
after .sort: [1, 2, 3, 8, 9, 10]
[8, 3, 1, 9, 2, 10]
.sorted(): [1, 2, 3, 8, 9, 10]

In [67]:
A = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
print(type(A))
for x in A:
    print(x)

<class 'list'>
2
4
6
8
10
12
14
16
18
20

### Nested lists

In [ ]:
A = [[1, 2, 3], [4, 5, 6], [7, 8, 9]] # a list of lists
print(A)    # all list
print(A[0])     # first element (list) in list
print(A[0][1])  # sekond element of first list in list

for i in A:     # each element (list)
    print(i)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[1, 2, 3]
2
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [18]:
for i in A:
    print()
    for j in i:
        print(j, end = " ")

1 2 3
4 5 6
7 8 9

In [60]:
### output the elements of the list of lists ###
for i in range(len(A)): # for each sublist
    for k in range(len(A[i])):  # for each element in the sublist
        print((A[i])[k], end=' ')   # print element with a space
    print()

1 2 3
4 5 6
7 8 9

### Nested cycles

In [14]:
i = 1           # start
while i <= 10:      # repetition of table rows
    j = 1
    while j <= 10:  # columns
        print(i * j, end="\t")
        j += 1     
    print()     # performs the transition to new line
    i += 1

1	2	3	4	5	6	7	8	9	10
2	4	6	8	10	12	14	16	18	20
3	6	9	12	15	18	21	24	27	30
4	8	12	16	20	24	28	32	36	40
5	10	15	20	25	30	35	40	45	50
6	12	18	24	30	36	42	48	54	60
7	14	21	28	35	42	49	56	63	70
8	16	24	32	40	48	56	64	72	80
9	18	27	36	45	54	63	72	81	90
10	20	30	40	50	60	70	80	90	100

In [15]:
outer = [1, 2, 3]   # Зовнішній цикл  
inner = [4, 5, 6]   # Вкладений (внутрішній) цикл  
for i in outer:      
    for j in inner:          
        print ('i=', i, 'j=', j)

i= 1 j= 4
i= 1 j= 5
i= 1 j= 6
i= 2 j= 4
i= 2 j= 5
i= 2 j= 6
i= 3 j= 4
i= 3 j= 5
i= 3 j= 6

In [61]:
A = [[1, 2, 3] * 3] # a list of 3 the same lists
A

[[1, 2, 3, 1, 2, 3, 1, 2, 3]]

In [62]:
A[0][0] = 100 # modify the first element of the first sublist
A

[[100, 2, 3, 1, 2, 3, 1, 2, 3]]

In [63]:
dir(A)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [64]:
help(A.extend)

Help on built-in function extend:

extend(iterable, /) method of builtins.list instance
    Extend list by appending elements from the iterable.

In [65]:
help(A.count)

Help on built-in function count:

count(value, /) method of builtins.list instance
    Return number of occurrences of value.

In [66]:
help(A.append)

Help on built-in function append:

append(object, /) method of builtins.list instance
    Append object to the end of the list.