### variables

In [ ]:
one = 1
two = 2

two, one = 1, 2     # chenge variables
print('one:', one, 'two:', two) # one: 2 two: 1

one, two = two, one     # chenge variables
print('one:', one, 'two:', two)     # one: 1 two: 2

one: 2 two: 1
one: 1 two: 2

## to Create tuple

In [4]:
T = 1, 2, 3, 4
print(type(T)) # <class 'tuple'>
print(T)

<class 'tuple'>
(1, 2, 3, 4)

In [ ]:
a, b, c, d = T  # create variables for elements
print(c) # 3

3

In [ ]:
a = T[0]    # create variable for first element
print(a) # 1

1

In [ ]:
a, b, * rest = T    # create variable 'rest' for elements, another than in 'a', 'b'
print('a is ', a) # 1
print('b is ', b) # 2
print('rest are: ', rest) # [3, 4] - list insert a tuple
print(type(rest))

a is  1
b is  2
rest are:  [3, 4]
<class 'list'>

In [ ]:
print(T) # (1, 2, 3, 4) - tuple
print(*T) # 1 2 3 4 - elements
print(*T, sep= ':') # 1:2:3:4 - elements, that separated by ':'
print(*T, sep= ':', end='!\n') # 1:2:3:4!  # \n - new line

(1, 2, 3, 4)
1 2 3 4
1:2:3:4
1:2:3:4!