# $$Cycle - for$$
import time
for ....:
    time.sleep(1)
    print

### "while" vs "for"

#### "while"

In [6]:
numbers = [1, 2, 3, 4, 5]
i = 0   # start

while i <= len(numbers) - 1:    # stop
    print(numbers[i])
    i += 1      # step

1
2
3
4
5

#### "for"

In [7]:
numbers = [1, 2, 3, 4, 5]
for element in numbers:
    print(element)

1
2
3
4
5

#### for + break + else

In [11]:
numbers = []
for number in numbers:
    print ('this list have same element -', number)
    break
else:
    # sleeping 'break' means that there are Not element
    print("There are Not elements in list, arn't they?")

There are Not elements in list, arn't they?

#### zip()

In [12]:
days = ['Monday', 'Tuesday', 'Wednesday']
fruits = ['banana', 'orange']
drinks = ['coffee', 'tea', 'beer']
for day, fruit, drink in zip(days, fruits, drinks):
    print(day, ': drink', drink, 'eat', fruit)

Monday : drink coffee eat banana
Tuesday : drink tea eat orange

#### range(start, stop, step)
- range(stop, step) - if without start - it begins from '0';
- step == 1 (by default), it may be changed

In [ ]:
range(0, 5, 1)      # alone 'range()' - without resalt

range(0, 5)

In [ ]:
for i in range(0, 5, 1):    # 0 1 2 3 4  Start including, Stop - NOT including
    print(i)

0
1
2
3
4

In [ ]:
for i in range(0, 5):   # 0 1 2 3 4 ('step' default == 1)
    print(i)

0
1
2
3
4

In [ ]:
for i in range(5):   # 0 1 2 3 4 
                    # 'start' default == 0  - including
                    # 'step' default == 1  - NOT including
    print(i)

0
1
2
3
4

In [28]:
for i in range(4, -1, -1):
    print(i)

4
3
2
1
0

In [ ]:
# range(start, stop, step)
for i in range(20, 10, -2):
    print(i)

In [ ]:
    ### cicle for choose all numbers that were put ###
for x in 9, 8, 7, 6, 5, 4, 3, 2, 1:  # a lot of nambers
    print(x)

9
8
7
6
5
4
3
2
1

### iterations with a break in time (1 second)

In [3]:
import time     # for iterations with a break in time
for x in 9, 8, 7, 6, 5, 4, 3, 2, 1:  # a lot of nambers
    time.sleep(1)   # iterations with a break in time (1 second)
    print(x)
    print('x**2:', x**2)

9
x**2: 81
8
x**2: 64
7
x**2: 49
6
x**2: 36
5
x**2: 25
4
x**2: 16
3
x**2: 9
2
x**2: 4
1
x**2: 1

In [6]:
A = [1, 2, 3, 4]
for x in A:
    print('x[_]:', x)

x[_]: 1
x[_]: 2
x[_]: 3
x[_]: 4

In [3]:
A = "abcd"
print('A:', A)
for x in A:
    print('x"_":', x)

A: abcd
x"_": a
x"_": b
x"_": c
x"_": d

In [4]:
s = "ABC"
A = list(s)
print('A:', A)
for x in A:
    print('x(list): - ', x)

A: ['A', 'B', 'C']
x(list): -  A
x(list): -  B
x(list): -  C

20
18
16
14
12

In [5]:
for x in 1, 2, 3:
    for y in 'a', 'b':
        print('x, y:', x, y)

x, y: 1 a
x, y: 1 b
x, y: 2 a
x, y: 2 b
x, y: 3 a
x, y: 3 b